bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
.vs/
.idea/
*.sln.iml
ScaffoldingReadMe.txt
appsettings.Development.json
TestResults/
*.zip
Properties/launchSettings.json
coverage/
*.coverage
*.coveragejson
**/hotreload.json
ClienteApi.Tests/bin/
ClienteApi.Tests/obj/
ClienteApi/bin/
ClienteApi/obj/ 